@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
}

body {
  margin: 0;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111010;
  color: white;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
    url("./fonts/Graphik/Graphik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik-medium";
  src: local("GraphikMedium"),
    url("./fonts/Graphik/Graphik-Medium.ttf") format("truetype");
}